<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shakespace.firstlinecode">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--    for foreground service-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".chapter09service.bestpratice.DownloadActivity"></activity>

        <service
            android:name=".chapter09service.bestpratice.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".chapter11materialdesign.components.CollapsingToolbarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".chapter11materialdesign.components.CoordinatorActivity" />
        <activity android:name=".chapter11materialdesign.MaterialDesignActivity" />

        <service
            android:name=".chapter09service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".chapter09service.CommonService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".chapter09service.ServiceActivity" />
        <activity android:name=".chapter08network.WebViewActivity" />
        <activity android:name=".chapter08network.NetWorkActivity" />
        <activity android:name=".chapter07multimedia.VideoPlayActivity" />
        <activity android:name=".chapter07multimedia.AudioPlayActivity" />
        <activity android:name=".chapter07multimedia.GambleActivity" />
        <activity android:name=".chapter07multimedia.MultiMediaActivity" /> <!-- meta-data name is fixed -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.shakepspace.firstcode.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
        <provider
            android:name=".chapter06contentprovider.DataProvider"
            android:authorities="com.shakespace.kotlin.provider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".chapter06contentprovider.ContentProviderActivity" />
        <activity android:name=".chapter05persistent.PersistentActivity" />
        <activity android:name=".chapter04broadcast.practice.LoginActivity" />

        <receiver
            android:name=".chapter04broadcast.RemoteReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.MY_CUSTOM_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".chapter04broadcast.CustomBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="900">
                <action android:name="android.intent.action.MY_CUSTOM_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".chapter04broadcast.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".chapter04broadcast.BroadcastActivity" />
        <activity android:name=".chapter03fragment.NewsActivity" />
        <activity android:name=".chapter03fragment.FragmentActivity" />
        <activity android:name=".chapter02ui.ChatActivity" />
        <activity android:name=".chapter02ui.RecyclerViewActivity" />
        <activity android:name=".chapter02ui.ListViewActivity" />
        <activity android:name=".chapter02ui.UIActivity" />
        <activity
            android:name=".chapter01activity.ThirdActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".chapter01activity.SecondActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.CUSTOM" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.CUSTOM" />
            </intent-filter>
        </activity>
        <activity
            android:name=".java.JavaActivity"
            android:label="@string/title_activity_java"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chapter01activity.FirstActivity"
            android:launchMode="singleTask" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>